<div class="left_block">
        <div class="fas fa-caret-down">
            <select class="form-control" name="model__mark" id="filter_brand">
                <option selected disabled>Марка</option>
                {% marks as marks %}
                {% for mark in marks %}
                <option value="{{ mark.id }}">{{ mark.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="fas fa-caret-down">
            <select class="form-control" name="model" id="filter_model">
                <option selected disabled>Модель</option>
            </select>
        </div>
        <div class="fas fa-caret-down">
            <select class="form-control" name="gearbox" id="filter_gearbox">
                <option selected disabled>КПП</option>
                <option value="1">Механика</option>
                <option value="2">Автомат</option>
            </select>
        </div>

        <fieldset>
            <legend>Регистрация</legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="cleared" value="" checked>Любая регистрация
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="cleared" value="1">Растаможенные
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="cleared" value="0">Не растаможенные
                </label>
            </div>
        </fieldset>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="dealers" id="dealer">
            <label class="form-check-label" for="dealer">Исключить диллеров</label>
        </div>
        <div class="button">
            <button type="button">Расширенный фильтр</button>
            {% if user.is_authenticated and user.is_payed %}
                <button type="button" data-toggle="modal" data-target="#save-filter">Получать уведомления</button>
            {% endif %}
        </div>
    </div>
    <div class="right_block">
        <div class="fas fa-caret-down">
            <select class="form-control" name="location" id="filter_region">
                <option selected disabled>Регион</option>
                {% locations as locations %}
                {% for location in locations %}
                <option value="{{ location.id }}">{{ location.name | title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="fas fa-caret-down unshow">
            <label for="year">Год</label>
            <div class="year_pick">
                <div class="fas fa-caret-down">
                    <select class="yearselect" name="year__gte"></select>
                </div>
                <div class="fas fa-caret-down">
                    <select class="yrselectdesc" name="year__lte"></select>
                </div>
            </div>
        </div>
        <div class="fas fa-caret-down unshow">
            <label for="price">Цена</label>
            <div class="price_pick">
                <div class="fas fa-caret-down">
                    <input type="text" pattern="^[ 0-9]+$" name="price__gte" placeholder="от">
                </div>
                <div class="fas fa-caret-down">
                    <input type="text" pattern="^[ 0-9]+$" name="price__lte" placeholder="до">
                </div>
            </div>
        </div>
        <fieldset>
            <legend>ДТП</legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="dtp" value="" checked>Все
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="dtp" value="0">Без ДТП
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="dtp" value="1">После ДТП
                </label>
            </div>
        </fieldset>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="blocked" id="blocked">
            <label class="form-check-label" for="blocked">Исключить заблокированных</label>
        </div>
        <div class="button">
            <button class="Search" type="submit">Найти</button>
        </div>
    </div>