<div class="container">
    <div class="wrap">
        <div class="soc_block">
            <div class="footer_title">
                Расскажи друзьям о нашем сервисе:
            </div>
            <div class="social">
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
            </div>
        </div>
        <a class="request" href="#"><i class="fas fa-envelope"></i>Задать вопрос</a>
        <div class="soc_block">
            <div class="footer_title">
                Мы в соцсетях:
            </div>
            <div class="social">
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
            </div>
        </div>
    </div>
</div>
<section id="footer-bottom">
    <div class="container">
        <div class="wrap-f-b">
            <a href="#" class="text-footer">jet2cars.com 2019</a>
        </div>
    </div>
</section>