<section id="opportunities">
    <div class="container">
        <div class="wrap">
            <a href="{% url 'search-by-number' %}" class="op_item">Проверить по номеру телефона</a>
            <div class="op_item">Проверить по Гос. номеру или VIN</div>
            <div class="op_item">Проверка по базам Carfax, AutoCheck, Copart</div>
            <div class="op_item">АвтоПодбор и Диагностика авто перед покупкой</div>
            <div class="op_item">Заказать Базу данных</div>
            <a href="https://autoconcierge.com.ua/" class="op_item" target="blank">АвтоКонсьерж</a>
            <div class="op_item">Авто в Кредит / Лизинг</div>
            <a href="http://anyin.space/" class="op_item" target="blank">Автострахование</a>
            <a href="{% url 'analitic:index' %}" class="op_item">Аналитика</a>
        </div>
    </div>
</section>